extends ../layout/layout.pug


block content
    -
        var catalog = [
            {
                title: 'Электромонтажные работы',
                description: 'Электромонтажная организация «Калипсо» реализует широкий спектр решений в области проектирования и монтажа систем внутреннего и внешнего электроснабжения. Проведение полного комплекса электромонтажных работ любого уровня сложности. Наша компания осуществляет электрификацию объектов потребителя под ключ. Подключение объектов к сети местного электроснабжения, монтаж распределительного оборудования, электрических систем и внутренней электрики зданий и сооружений.',
                image: `${require('../../images/service-item-1.jpg')}`,
            },
            {
                title: 'ПРОЕКТИРОВАНИЕ',
                description: 'Компания «Калипсо» на базе лицензированной передвижной электролаборатории в г. Архангельск, оказывает полный спектр услуг по выполнению измерений и испытаний электроустановок и электрических сетей. Наши специалисты также готовы выполнить любые сопутствующие плановые ремонтные работы и аварийный ремонт. ',
                image: `${require('../../images/service-item-2.jpg')}`,
            },
            {
                title: 'ГАРАНТИЙНОЕ ОБСЛУЖИВАНИЕ',
                description: 'Наша электромонтажная организация осуществляет плановый и срочный ремонт сетей электроснабжения, а также электроустановок любого типа. Оперативное устранение неисправностей электрических систем, возникших в следствии негативного воздействия внешних факторов в ходе эксплуатации, и ремонт неисправностей электрооборудования, возникших в следствии выработки ресурса.',
                image: `${require('../../images/service-item-3.jpg')}`,
            },
            {
                title: 'Испытание Электросистем',
                description: 'ООО «Калипсо» предоставляет услуги по подготовке проектно-сметной документации объектов теплоэнергетики. В компании используются современные проектные компьютерные программы, позволяющие автоматизировать процесс проектирования оборудования, обеспечить выгодные компоновочные решения с учетом удобства эксплуатации, обслуживания и ремонта.',
                image: `${require('../../images/service-item-4.jpg')}`,
            },
        ]

    main.catalog
        .catalog__image.page-image(style=`background-image: url(${require('../../images/page-img.jpg')}`)
        .catalog__wrapper.wrapper
            h1.catalog__title.page-title наши услуги
            .catalog__content
                each service in catalog
                    .catalog__item-wrapper
                        +catalog-item(service)
